@import '../../styles/mixins';

.services {
  @include layout;
  width: 100%;

  &__container {
    @include container;
    margin-top: 16px;

    display: flex;
    flex-direction: column;
    gap: 8px;
  }

  &__item {
    display: flex;
    justify-content: space-between;
    // align-items: center;
    gap: 8px;
  }

  &__image {
    width: 30%;
    height: 100px;
    object-fit: cover;
    object-position: center;
  }

  &__list {
    padding-left: 8px;
    list-style: none;
    display: flex;
    flex-direction: column;
    align-items: flex-start;

    &-item {
      font-size: 0.7rem;
    }
  }
}