@import '../../styles/mixins';
@import '../../styles/vars';

.form {
  @include layout;
  width: 100%;

  &__container {
    @include container;

    padding: 16px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 8px;
    width: 100%;

    border-radius: 4px;
  }

  &__input {
    padding: 4px 8px;
    border: 1px solid #603570;
    border-radius: 4px;
    outline: none;
    width: 50%;

    font-family: 'Cinzel Decorative', sans-serif;
  }

  &__button {
    margin-top: 8px;
    padding: 8px 16px;

    border: none;
    background-color: $purple;
    color: #fff;

    text-transform: uppercase;
    letter-spacing: 1px;
  }
}