@import '../../styles/mixins';

.about {
  @include layout;

  &__container {
    @include container;

    display: flex;
    flex-direction: column;
    gap: 8px;
    font-size: 0.9rem;

    font-size: 12px;
  }
}