@import url('https://fonts.googleapis.com/css2?family=Cinzel+Decorative:wght@400;700;900&display=swap');

html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  font-family: 'Cinzel Decorative', sans-serif;
  color: #603570;
}

h1,
h2,
p,
ul,
li {
  padding: 0;
  margin: 0;
}

* {
  box-sizing: border-box;
}

.bold {
  font-weight: 600;
}
